# Copernicus Data Space Ecosystem (CDSE) - Sentinel-1
CDSE_EMAIL=your_email@example.com
CDSE_PASSWORD=your_cdse_password

# Copernicus Marine Environment Monitoring Service (CMEMS)
CMEMS_USERNAME=your_cmems_username
CMEMS_PASSWORD=your_cmems_password

# AISHub
AISHUB_USERNAME=your_aishub_username
